@import 'variables';

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.75rem;
    padding: 0.625rem 1.875rem;
    gap: 0.938rem;
    @media (max-width: 917px){
      gap: 0.625rem;
    }
    border: none;
    font-size: 1.25rem;
    background-color: $dark-color;
    font-weight: 600;
    color: $light-color;
    text-align: center;
    cursor: pointer;
    img {
      width: 80px;
      height: 80px;
      @media (max-width: 530px){
        width: 14vw;
        height: auto;
      }
    }
    p {
      @media (max-width: 917px){
        width: 70%;
      }
      @media (max-width: 500px){
        text-align: center;
      }
      @media (max-width: 530px){
        font-size: 3.9vw;
      }
    }
    @media (max-width: 630px){
      width: 70%;
    }
    @media (max-width: 395px){
      width: 85%;
    }
}

body.darkmode .box {
    background-color: $light-color;
    color: $dark-color;
}