@import 'variables';

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151E28;
    color: $light-color;
    p {
        br {
            display: none;
            @media (max-width: 500px){
                display: block;
            }
        }
        @media (max-width: 500px){
            text-align: center;
        }
    }
    img {
        width: 64px;
        height: 64px;
    }
}