@import 'variables';

body.darkmode {
    .presentation-container .presentation-container---scene--titles--profile-n-links .presentation-container---profile-pic--n--links .presentation-container--links a {
        color: $light-color;
    }
    .profile-flip {
        box-shadow: 0 0 20px #151E28;
    }
}

body.lightmode {
    .profile-flip {
        box-shadow: 0 0 20px rgba(3, 17, 17, 0.45);
    }
}

.presentation-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 50px;
    h1, h2 {
        text-align: end;
    }
    h1 {
        font-size: 6.25rem;
        @media (max-width: 1390px){
            font-size: 5.625rem;
        }
        @media (max-width: 1318px){
            font-size: 5rem;
        }
        @media (max-width: 1247px){
            font-size: 4.375rem;
        }
        @media (max-width: 1175px){
            font-size: 3.75rem;
        }
        @media (max-width: 1005px){
            font-size: 3.125rem;
        }
        @media (max-width: 932px){
            font-size: 2.5rem;
        }
        @media (max-width: 565px){
            font-size: 6vw;
        }
        @media (max-width: 425px){
            font-size: 9.5vw;               
        }
    }
    h2 {
        font-size: 3.125rem;
        @media (max-width: 1247px){
            font-size: 2.5rem;
        }
        @media (max-width: 1132px){
            font-size: 2.188rem;
        }
        @media (max-width: 975px){
            font-size: 1.875rem;
        }
        @media (max-width: 768px){
            text-align: center;
        }
        @media (max-width: 565px){
            font-size: 5vw;
        }
        @media (max-width: 425px){
             font-size: 7.5vw;               
        }
    }
    p, button {
        align-self: center;
        span {
            font-weight: bold;
        }
    }
    p {
        width: 80%;
        max-width: 1400px;
        font-size: 1.25rem;
        @media (max-width: 917px){
            width: 90%;
        }
        @media (max-width: 500px){
            text-align: justify;
        }
    }
    img {
        max-height: 300px;
        max-width: 300px;
        @media (max-width: 1105px){
            max-height: 200px;
            max-width: 200px;
        }
    }
    .laptopTyper {
        transition: all 0.3s ease-in-out;
        &:hover {
            scale: 1.2;
        }
        @media (max-width: 917px){
            display: none;
        }
    }
    .presentation-container---scene--titles--profile-n-links {
        display: flex;
        @media (max-width: 917px) {
            flex-direction: column;
        }
        justify-content: space-around;
        gap: 3.125rem;
        align-items: center;
        .presentation-container---profile-pic--n--links {
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
            margin-right: 25px;
            @media (max-width: 917px){
                margin-right: 0;
            }
            &:hover .profile-flip{
                animation: flipAnimation 5s infinite;
            };
            .presentation-container--profile-pic {
                .profile-container {
                    perspective: 1000px;
                    .profile-flip {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        transform-style: preserve-3d;
                        border-radius: 50%;
                        @media (max-width: 565px){
                            width: 25vw;
                            height: 25vw;
                        }
                        @media (max-width: 425px){
                            width: 35vw;
                            height: 35vw;
                        }
                        .profile-pic {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            backface-visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        .front {
                            z-index: 2;
                        }
                        .back {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
            .presentation-container--links {
                display: flex;
                gap: 1.875rem;
                justify-content: center;
                a {
                    cursor: pointer;
                    color: $dark-color;
                    &:hover {
                        transform: scale(1.35);
                        transition: all 0.25s ease-out;
                    }
                }
            }
        }
    }
    .presentation-container---prg--btn {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
    }
}

@keyframes flipAnimation {
    0% { transform: rotateY(0deg); }
    15% { transform: rotateY(30deg); }
    25% { transform: rotateY(0deg); }
    37% { transform: rotateY(50deg); }
    50% { transform: rotateY(180deg); }
    70% { transform: rotateY(210deg); }
    80% { transform: rotateY(180deg); }
    90% { transform: rotateY(230deg); }
    100% { transform: rotateY(360deg); }
}
