.project-card {
  max-width: 815px;
    position: relative;
    height: 500px;
    margin: 20px 28px;
    transition: all 0.7s ease-in-out;
    .project-card-content {
      position: relative;
      height: 100%;
      background-color: #32485D;
      padding: 5px;
      margin: 0 15px;
      box-shadow: 0 0 20px rgba(29, 41, 53, 0.64);
      border-radius: 10px;
      overflow: hidden;
      transform: rotateY(20deg) rotateX(30deg);
      transition: all 0.7s ease-in-out;
      @media (max-width: 1200px){
        width: 560px;
      }
      @media (max-width: 720px){
        width: 70vw;
        height: 70vw;
      }
      @media (max-width: 375px){
        height: 80vw;
      }
      .project-image {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        padding: 1.25rem;
        @media (max-width: 500px){
          gap: 0.5rem;
        }
        h4 {
          margin: 0;
          font-size: 1.7rem;
          white-space: normal;
          @media (max-width: 720px){
            font-size: 4vw;
          }
          @media (max-width: 500px){
            font-size: 4.5vw;
          }
          @media (320px <= width <= 500px){
            font-size: 8vw;
          }
        }
        p {
          margin: 0 20px;
          font-weight: bold;
          font-size: 1.1rem;
          white-space: normal;
          @media (max-width: 720px){
            font-size: 2.4vw;
          }
          @media (320px <= width <= 500px){
            display: none;
          }
        }
        .overlay-subtitle {
          font-size: 1.4rem;
          @media (max-width: 720px){
            font-size: 3.2vw;
          }
          @media (max-width: 500px){
            font-size: 3.7vw;
            display: block;
          }
          @media (320px <= width <= 500px){
            font-size: 6.5vw;
          }
        }
        .skills {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .skill-tag {
            margin: 5px;
            padding: 0.313rem 0.625rem;
            border-radius: 3px;
            font-size: 0.9rem;
            @media (max-width: 720px){
              font-size: 2.5vw;
            }
            @media (max-width: 430px){
              font-size: 1.5vw;
            }
            @media (max-width: 500px){
              font-size: 2vw;
            }
            @media (320px <= width <= 499px){
              font-size: 3vw;
            }
          }
          
        }
      }
    }
    &:hover .project-image {
      opacity: 0.3;
    }
  
    &:hover .overlay {
      opacity: 0.8;
    }

  }
  
  
  body.darkmode .project-card .project-card-content {
    box-shadow: 0 0 20px rgba(242, 245, 248, 0.44)
  }