.skillsballs--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    h2, .skills_hover_prg {
        text-align: center;
    }
       h2 {
        font-weight: bold;
        font-size: 3.125rem;
        @media (max-width: 500px){
            font-size: 9vw;
        }
        }
        .skills_hover_prg {
            font-size: 1rem;
        } 
    .skillsballs--container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        margin: 0 30px;
        .skillsballs--ball {
            width: 84px;
            height: 84px;
            @media (max-width: 1200px){
                width: 64px;
                height: 64px;
            }
        }
    }
}

