@import 'variables';

.projects--tilt-card {
    max-width: 350px;
    background: #2C3E50;
    flex: 1;
    height: 300px;
    border-radius: 13px;
    display: flex;
    @media (max-width: 1280px){
        flex-direction: row;
        height: 170px;
        width: 100%;
    }
    @media (max-width: 1024px){
        flex-direction: column;
        height: 300px;
    }
    @media (max-width: 769px){
        flex-direction: row;
    }
    @media (max-width: 655px){
        flex-direction: column;
    }
    flex-direction: column;
    gap: 0.938rem;
    padding: 0.625rem;
    &:hover .projects---tilt-card--img-n-icon img {
        opacity: 0.5;
        transition: all 0.1s ease-in-out;
    }
    &:hover .projects---tilt-card--img-n-icon .hover-text {
        display: block;
    }
    .projects---tilt-card--img-n-icon {
        display: flex;
        justify-content: center;
        position: relative;
        img {
            width: 100%;
            height: 150px;
            border-radius: 13px;
            object-fit: fill;
            @media (max-width: 1280px){
                width: 200px;
            }
            @media (max-width: 1024px){
                width: 250px;
            }
        }
        .faGithub {
            position: absolute;
            top: 7px;
            right: 7px;
            cursor: pointer;
            background-color: whitesmoke;
            border-radius: 50%;
            padding: 5px;

        }
        .hover-text {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
            width: 80%;
        }
    }
    .projects---tilt-card--content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $light-color;
        @media (max-width: 1280px){
            justify-content: space-around;
        }
        @media (max-width: 769px){
            height: auto;
        }
        @media (max-width: 655px){
            height: 60%;
        }
    }
}

body.darkmode {
    .projects--tilt-card {
        box-shadow: 0 0 20px #1D2935;
        background-color: #415D76;
        .faGithub {
            background-color: #415D76;
        }
    }
}