//// Colors ////
$dark-color: #2C3E50; // Utilisée pour les éléments en mode sombre (background) et en mode clair (text, boutons, etc.)
$light-color: #F2F5F8; // Utilisée pour les éléments en mode clair (background) et en mode sombre (text, boutons, etc.)

//// ToggleIcons ////
$dark-icon-bckgrd: #2b2b2b;
$dark-icon-color: #fff;
$light-icon-bckgrd: #f7f7f7;
$light-icon-color: #FFDE59;

//// Links ////
$darkmode-link-color: #00FFCB;
