* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*max-width: 1440px;*/
}

body {
  height: 100vh;
  /*max-width: 1440px;*/
  min-width: 320px;
  margin: 0;
  transition: all 0.50s linear;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scroll {
  overflow: hidden;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  /*max-width: 1440px;*/
}

main {
  margin: 0 50px 100px;
}

footer {
  height: 240px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  object-fit: cover;
}

@media (max-width: 768px){
  main {
    margin: 0 20px 100px;
  }
}